<app-logout-button></app-logout-button>
<div class="container">
  <h1 class="title">Sobre o Share Your Garden</h1>
  <div class="about-container">
    <p class="has-text-centered">
      Bem-vindo ao <strong>Share Your Garden</strong>, o seu portal para criar e
      gerenciar seu jardim virtual!
    </p>
    <br />
    <p>
      Nosso objetivo é trazer a paixão pela jardinagem para o mundo digital,
      proporcionando uma experiência onde você pode registrar e organizar suas
      plantas de maneira simples e interativa. Com o Share Your Garden, cada
      usuário tem a oportunidade de criar seu próprio jardim virtual, onde pode
      acompanhar o crescimento de suas plantas, adicionar novas espécies e
      manter um registro de cuidados diretamente na plataforma.
    </p>
    <br />
    <p>
      Além de gerenciar seu próprio jardim, você pode explorar jardins de outros
      usuários, ver o que eles estão cultivando e se inspirar em suas criações.
      É uma comunidade de amantes da natureza, onde você pode compartilhar suas
      experiências de jardinagem e aprender com outras pessoas.
    </p>
    <br />
    <p>No Share Your Garden, é fácil:</p>
    <ul>
      <li>
        <strong>Registrar-se</strong> na plataforma e criar um perfil de
        jardineiro;
      </li>
      <li>
        <strong>Cadastrar suas plantas</strong> e organizá-las no seu jardim
        virtual;
      </li>
      <li>
        <strong>Gerenciar seu jardim</strong>, mantendo o controle de suas
        plantas, incluindo rega, fertilização, e outros cuidados importantes;
      </li>
      <li>
        <strong>Descobrir novos jardins</strong>, navegando pelos perfis de
        outros usuários e conhecendo suas plantas e jardins;
      </li>
    </ul>
    <br />
    <p>
      Nosso objetivo é tornar a experiência de jardinagem mais acessível,
      prática e divertida, independentemente de onde você estiver. Conecte-se
      com outros jardineiros, aprenda sobre diferentes tipos de plantas e leve
      sua paixão pela jardinagem para o próximo nível com o Share Your Garden.
    </p>
    <br />
    <p class="has-text-centered">
      <a href="/login" class="has-text-weight-bold">Clique aqui</a> e venha
      fazer parte dessa comunidade verde e comece a cultivar o seu jardim
      virtual hoje mesmo!
    </p>
  </div>
</div>
